* {
	margin: 0px;
	padding: 0px;
}

body {
	display:flex;
	background-color: #fff;
}


.container {
	display: block;
	width: 250px;
	background-color: #e5e5e5;
	height: 250px;
	margin: auto;
	border: 2px solid #999;
}

hr {
	margin: 0px 20px;
}

.container p{
	margin: auto;
	display:block;
	width:84%;
	padding:8% 8% 3% 8%;
}


.container p span {
	display:inline-block;
	width:66px;
}

.container p input {
	float:right;
	width:60%;
}

.mybutton {
	display:inline-block;
	border-radius: 5px;
	width:70px;
	height:20px;
	margin:20px;
	background-color: #999;
	padding: 5px 0px;
	border: 0px solid #555;
	text-align: center;
}

.container p:hover{
	background-color: #ffffff;
	box-shadow: #555 0 0 10px;
}

.mybutton:hover {
	background-color: #6c6c6c;
	box-shadow: #555 0 0 10px;
}

.mybutton:active {
	background-color: #fff;
}

#btn_confirm {
	float: right;
}

